{% extends "base.html.twig" %}
{% block title %}{{ parent () }} Home{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
  <!--==========================
    About Us Section
  ============================-->
  <section id="about-us" class="about-us padd-section wow fadeInUp">
    <article>
    <div class="container">
      <div class="section-title text-center">
        <h2>A propos de nous.</h2>
        <p class="separator">Integer cursus bibendum augue ac cursus .</p>
      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/svg/paint-palette.svg" alt="img" class="img-fluid">
            <h4>creative design</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/svg/vector.svg" alt="img" class="img-fluid">
            <h4>Retina Ready</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/svg/design-tool.svg" alt="img" class="img-fluid">
            <h4>easy to use</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/svg/asteroid.svg" alt="img" class="img-fluid">
            <h4>Free Updates</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/svg/asteroid.svg" alt="img" class="img-fluid">
            <h4>Free Updates</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/svg/cloud-computing.svg" alt="img" class="img-fluid">
            <h4>App store support</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/svg/pixel.svg" alt="img" class="img-fluid">
            <h4>Perfect Pixel</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="feature-block">
            <img src="img/svg/code.svg" alt="img" class="img-fluid">
            <h4>clean codes</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
        </div>

      </div>
    </div>
  </article>
  <article>
    <div class="container">
      <div class="row justify-content-center">

        <div class="col-md-5 col-lg-3">
          <img src="img/about-img.png" alt="About">
        </div>

        <div class="col-md-7 col-lg-5">
          <div class="about-content">

            <h2><span>ecole Roubaix</span> </h2>
            <p>
                Ecole Roubaix est une école d’informatique créée en 2020 qui forme des experts du secteur,
                la plupart en 5 ans après le Bac mais également dès 18 ans ou à travers des formations professionnelles 
                plus courtes,
                ouvertes à tous les profils et adaptées à tous les parcours.
                Elle permet de transformer une passion pour l’informatique en une expertise qui débouche sur des emplois
                à fort potentiel comparable à celui de toutes les Grandes Écoles (100% des élèves du cursus post-bac sont 
                embauchés à la fin de leurs études). Cette formation recherchée par les entreprises
                repose sur un modèle novateur qui met l’accent sur trois qualités de plus en plus exigées :
                l’adaptabilité, l’auto-progression et le sens du projet. Ecole Roubaix délivre un titre d’Expert en Technologies
                de l’Information de niveau 1,
                enregistré par la Commission Roubaisienne de la Certification Professionnelle (CNCP) <span style="font-size:10px">&#128540;</span>.
            </p>

          </div>
        </div>

      </div>
    </div>
  </article>
  <section>
{% block javascripts %} 
  {{ parent() }} 
{% endblock %}
{% endblock body %}