
{% extends "base.html.twig" %}
{% block title %}{{ parent () }} Home{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
 {% include "nav/nav_etudiant.html.twig" %}
  <section id="hero" class="wow fadeIn">
    <div class="hero-container">
      <h1>Bienvenue à l'Ecole Roubaix</h1>
      <img src="img/hero-img.png" alt="Hero Imgs">
      <div class="btns">
        <a href="#"><i class="fab fa-apple"></i>App Store</a>
        <a href="#"><i class="fab fa-google-play"></i> Google Play</a>
        <a href="#"><i class="fab fa-windows"></i> windows</a>
      </div>
    </div>
  </section><!-- #home -->
{% block javascripts %}
  {{ parent() }}  
{% endblock %}
{% endblock body %}

