{% extends "base.html.twig" %}
{% block title %}{{ parent () }}Login{% endblock %}
{% block stylesheets %}
        {{ parent() }}
{% endblock %}
{% block body %}
	 <section id="contact" class="padd-section wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">
        <h2>Login</h2>
        <p class="separator">vous pouvez vous authentifier ici</p>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-4">

          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>121 rue d'Alger <br>Roubaix, 59100</p>
            </div>

            <div class="email">
              <i class="fa fa-envelope"></i>
              <p><a href="mailto:sitayebsofiane51@gmail.com">sitayebsofiane51@gamil.com</a></p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>+336 50 92 28 97</p>
            </div>
          </div>

          <div class="social-links">
            <a href="https://twitter.com/home" class="twitter"><i class="fab fa-twitter"></i></i></a>
            <a href="https://www.facebook.com/" class="facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/" class="instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/feed/" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
          </div>

        </div>

        <div class="col-lg-5 col-md-8">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Votre Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
			  <div class="form-group">
                <input type="password" name="password" class="form-control" id="password" placeholder="Mot de passe" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Se connecter</button></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section><!-- #contact -->
{% block javascripts %} 
  {{ parent() }} 
{% endblock %}
{% endblock body %}



