{% extends "admin.html.twig" %}
{% block title %}
	{{ parent () }}
	Matiers
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block body %}

	<section id="matiere" class="padd-section text-center wow fadeInUp">

		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ID_Matiere</th>
					<th scope="col">Nom</th>
					<th scope="col">ID_Enseigne</th>
					<th scope="col">Nom_Enseigne</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>ID</td>
					<td>Otto</td>
					<td>@mdo</td>
                    <td><a onclick="return confirm('êtes vous sûr de Modifier')" href="#">Modifier</a></td>
                    <td><a onclick="return confirm('êtes vous sûr de suprimer')" href="#">Suprimer</a></td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>@fat</td>
                    <td><a onclick="return confirm('êtes vous sûr de Modifier')" href="#">Modifier</a></td>
                    <td><a onclick="return confirm('êtes vous sûr de suprimer')" href="#">Suprimer</a></td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>Larry</td>
					<td>the Bird</td>
					<td>@twitter</td>
                    <td><a onclick="return confirm('êtes vous sûr de Modifier')" href="#">Modifier</a></td>
                    <td><a onclick="return confirm('êtes vous sûr de suprimer')" href="#">Suprimer</a></td>
				</tr>
			</tbody>
		</table>

	</section>
	{% block javascripts %}
		{{ parent() }}
	{% endblock %}
{% endblock body %}
