{% extends "admin.html.twig" %}
{% block title %}
	{{ parent () }}
	Matiers
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block body %}

	<section id="contact" class="padd-section wow fadeInUp">

    <div class="container">
      <div class="section-title text-center">
        <h2 style="text-align:center"></h2>
        <p class="separator"></p>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-4">

          

         <p>a fin de bien ajouter la matiere vous devez indiquer le numero de l'enseigne qui lui correspond</p>

        </div>

        <div class="col-lg-5 col-md-8">
          <div class="form">
            <div id="sendmessage"></div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" class="form-control" name="nom" id="nom" placeholder="nom de la matiere" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
			  <div class="form-group">
                <input type="number" name="enseigne" class="form-control" id="enseigne" placeholder="id de l'enseigne" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Ajouter</button></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section><!-- #contact -->
	{% block javascripts %}
		{{ parent() }}
	{% endblock %}
{% endblock body %}
