{% extends "base.html.twig" %}
{% block title %}
	{{ parent () }}enseignant
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block body %}
	{% include "nav/nav_admin.html.twig" %}
    <h1> confirmation {{message}} creer </h1>
	{% block javascripts %}
		{{ parent() }}
	{% endblock %}
{% endblock body %}
