{% extends "base.html.twig" %}
{% block title %}
	{{ parent () }}
	Matiers
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block body %}
	{% include "nav/nav_admin.html.twig" %}
	
	<h1>on peut pas suprimer cette enseigne car il ya  des cous qui sont planifier </h1>
	{% block javascripts %}
		{{ parent() }}
	{% endblock %}
{% endblock body %}
